body {
    background-color:black;
    font-family:Arial;
}

/*
    I mostly use % value because it's easier to maintain responsiveness with.
 */
.maindiv {
    background-color:white;
    color:black;
    width: 40%;
    padding:2%;
    border-radius:6px;
    margin: 0 auto;
}

h1 {
    color:grey;
    font-family:verdana;
    text-align: center;
    margin: 1%;
}

label {
    font-size: large;
}

input[type="text"] {
    width: 100%;
    padding: 16px 20px;
    border-radius: 2px;
    border: 2px solid black;
    box-sizing: border-box;
}

input[type="range"] {
    width: 96%;
    height: 2%;
    border-radius: 2px;
    margin: 2%;
}

select {
    width: 100%;
    padding: 16px 16px;
    border: black;
    border-radius: 2px;
    background-color: grey;
    color: white;
}

button{
    background-color: black;
    border: none;
    width: 100%;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px;
}

/* 
    I put every data that has to be highlighted in span with class "showdata". using a class instead of an id allow me to apply style on all of them at once
*/

.showdata {
    background-color: yellow;
}